/* Imported Css For Using Root Properties */
@import url(./utilities/classes.css);

/* Imported Font Families From Google Fonts Web */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Hero Section Styling (Navbar alag Hai utilities mai usme reuse hone wale code h) */
.content-one {
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
}

.content-one img {
    max-width: 760px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-top: 3.2rem;
}

.lg-title {
    margin: 1.4rem 0;
    line-height: 1.4;
    color: var(--clr-dark);
}

.content-one p {
    margin-bottom: 2.6rem;
    line-height: 1.6;
}

/* Section #1 */
.section-one {
    padding: 64px 0;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.section-one-l img {
    max-width: 545px;
    margin-right: auto;
    margin-left: auto;
}

.section-one-r {
    margin-top: 4rem;
}

.section-one .btn-group {
    margin-top: 2rem;
}

.section-one-r {
    max-width: 545px;
    margin-right: auto;
    margin-left: auto;
}

.section-one-r .btn-group {
    margin-top: 3rem;
}

/* Section #2 */
.section-two {
    padding: 64px 0;
}

.section-two .section-items {
    display: grid;
    gap: 2rem;
}

.section-two .section-item {
    max-width: 350px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.section-two .section-item-icon {
    margin: 1rem 0;
}

.section-two .section-item-icon img {
    width: 80px;
    margin-right: auto;
    margin-left: auto;
}

.section-two .section-item-title {
    color: var(--clr-blue-dark);
    font-size: 1.8rem;
    font-weight: 600;
}

.section-two .text {
    margin: 0.9rem 0;
}

/* Footer */
.footer {
    padding: 3rem 0;
}

.footer-content p {
    color: var(--clr-grey);
}

.footer-content p span {
    color: var(--clr-white);
}

/* Trying To Make It Responsive */
@media screen and (min-width: 768px) {
    .section-two .section-items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px) {
    .section-one-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }

    .section-one-r {
        text-align: left;
    }

    .section-two .section-items {
        grid-template-columns: repeat(3, 1fr);
    }

    .section-two .section-item {
        text-align: left;
    }

    .section-two .section-item-icon img {
        margin-left: 0;
    }
}